<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKktgKRKcj-4fL87aHJc5thDVUZBLx7eM</string>
	<key>GCM_SENDER_ID</key>
	<string>879408486345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseShoppacart</string>
	<key>PROJECT_ID</key>
	<string>fir-shoppacart</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-shoppacart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879408486345:ios:ee22102a2565e495cf7a18</string>
</dict>
</plist>